# Web Framework
fastapi==0.128.1
uvicorn==0.40.0
gunicorn==25.1.0
starlette==0.50.0

# Database
SQLAlchemy==2.0.48
PyMySQL==1.1.2
alembic

# Utils
python-dotenv
requests
python-multipart==0.0.22
pydantic
python-dateutil
tqdm

# Computer Vision / AI
opencv-python==4.12.0.88
deepface==0.0.99
pillow
scikit-image
retina-face==0.0.17
mtcnn==1.0.0

# ML / DL
tensorflow==2.20.0
tf-keras==2.20.1
torch==2.9.0
torchvision==0.24.0
scikit-learn
numpy
scipy

# Data
pandas
matplotlib
seaborn

# WebSocket
websockets==15.0.1
